#whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#whatsapp-button img {
    width: 40px;
    height: auto;
}

.navbar-brand img {
    width: 50px;
    height: auto;
    transition: opacity 0.3s ease;
}

.scrolled .hidden-nav {
    display: none;
}
.navbar-brand #logo-img {
    display: none;
}

.scrolled .navbar-brand #logo-img {
    display: inline-block;
}

.navba-text{
    color: rgba(255, 255, 255, 0.499);
}


.hero-section {
    position: relative;
    height: 100vh;
    overflow: hidden; 
}
  
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}

.hero-section * {
    position: relative;
    z-index: 2;
}
.hero-heading {
    font-size: 48px;
    color: white;
    font-weight: 700;
    padding-left: 7%;
    padding-bottom: 2%;
}  
.hero-logo {
    width: 20%;
    padding-left: 5%;
}

.hero-heading-inner {
    font-weight: 400;
}

.hero-section .form-control {
    border-radius: 50px;
    padding: 10px 20px;
}

.hero-content {
    font-size: 28px;
    color: rgb(82, 219, 209);
    font-weight: 500;
    padding-left: 7%;
    padding-bottom: 7%;
    line-height: 1;
}
@media (min-width: 1024px) {
    .desktop-video-background {
        display: block; 
    }

    .hero-section {
        background-image: none;
    }
}

.desktop-video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


#offcanvasMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f9faf5;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1040; /* Ensure it appears above other content */
  }
  #offcanvasMenu.show {
    transform: translateX(0);
  }
#navmob{
    font-size: 48px;
    font-weight: 700;
}
#navmob a{
    color: #000;
}

.column {
    float: left;
    width: 50%;
}
#search{
    width: 700px;
}

.why-section{
    background-image: url(assets/why-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.why-heading{
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: bold;
    padding-top: 15%;
    padding-left: 5%;
    padding-bottom: 2%;
    line-height: 1;
}
.why-content{
    padding-left: 5%;
    width: 45%;
    font-size: 32px;
}
.explore-services {
    background-color: #000;
}

.explore-main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns for the heading and carousel */
    align-items: center;
    background-color: black;
    padding: 20px;
    gap: 20px; 
}

.explore-heading {
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    font-weight: 400;
    color: white;
    text-align: right;
    width: 100%;
    justify-content: center;
}

.explore-carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: black;
    overflow: hidden;
    position: relative;
}

.explore-btn {
    color: #000;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.explore-carousel-item {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    left: 50%;
    top:50%;
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 20px;
}

.explore-carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Show 3 items with scaling and translations for positioning */
.explore-carousel-item:nth-child(1) {
    transform: translateX(-200px) scale(0.8);
}

.explore-carousel-item:nth-child(2) {
    transform: translateX(0) scale(1.2);
    z-index: 1;
}

.explore-carousel-item:nth-child(3) {
    transform: translateX(200px) scale(0.8);
}

.explore-carousel-item:nth-child(4) {
    display: none;
}

.know-more{
    height: auto;
    display: none;
}
.know-more-main{
    padding-bottom: 5%;
    display: flex;
    justify-content: flex-end;
}
.know-more-container{
    margin-right: 10%;
    background-color: #01b5b1;
    width: 30%;
    padding: 20px;
    border-radius: 5%;
    font-weight: 400;
    font-size: 22px;
}
.know-more-heading{
    color: white;
    font-size: 26px;
}

/* .frequent-heading{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;   
    line-height: 1; 
}
.frequent-img{
    border-radius: 3%;
} */
.frequent-carousel .carousel-inner {
    height: 70vh;
}
#frequent-mobile{
    display: none;
}
.features {
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px 20px;
    justify-content: space-around;
}
.feature-container {
    flex-basis: 30%;
    margin-top: 10px;
}

.feature-container p {
    color: #000;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 15px;
}

.feature-container img {
    width: 100%;
    margin-bottom: 15px;
}


.frequent-carousel .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.monsoon-offer{
    background: url(assets/offer-img-desktop.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
.offer {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}
.offer-content {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding-bottom: 5%;
    align-content: center;
    height: 40vh;
    background-color: white;
}
.offer-heading{
    margin-left: -10px;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color: black;
    line-height: 1;
    padding-bottom: 5%;
}
.offer-free{
    font-size: 80px;
    font-weight: 900;
    line-height: 1;
}
.offer-inner-content{
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    padding-inline: 1%;
}
.offer-content .btn {
    background-color: #ffffff;
    color:black;
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
}
.offer-content .btn:hover {
    background-color: #f1f1f1;
}

.end-to-end-section{
    height: 75vh;
    background-color: #01b5b1;
}
.end-heading{
    padding-left: 10%;
}
.end-heading img{
    height: 170px;
}
.end-content{
    padding-top: 2%;
    line-height: 1;
    padding-left: 10%;
    font-size: 22px;
    font-weight: 600;
}
.end-content-inner{
    text-align: left;
}
.change-section{
    height: 68vh;
}
.testimonial-heading{
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 38px;
    color: #01b5b1;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 4%;
}
.testimonial-subheading{
    font-size: 30px;
    text-align: left;
    line-height: 1;
    font-weight: 500;
}
.testimonial {
    text-align: center;
    padding: 30px;
    border-radius: 8px;
}
.testimonial img {
    max-width: 100%;
    height: auto;
}
.testimonial-content {
    background-color: #01b5b1;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
.quote-commas-1{
    width: 15%;
    justify-content: space-between;
    
}
.quote-commas-2{
    width: 15%;
}
.testimonial-content p {
    font-size: 16px;
}
.testimonial-content .customer-name {
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.testimonial-logo{
    width: 30%;
}
.testimonial-content .stars {
    margin-top: 10px;
    color: #ffd700;
}
.change-img{
    width: 100%;
    align-items: center;
}
.change-text1{
    color: #01b5b1;
    line-height: 1;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 10%;
}
.change-text2{
    font-size: 32px;
    padding: 10%;
    line-height: 1;
}
.mobile-break{
    display: none;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.footer .form-control {
    border-radius: 50px;
    padding: 10px 20px;
}
@media (max-width: 768px) {
    .navbtn{
        display: none;
    }
    .hero-section {
        background-image: url('assets/home-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
    }
    
    .hero-heading {
        font-size: 32px;
        color: white;
        font-weight: 700;
        padding-left: 7%;
        padding-bottom: 5%;
    }
    
    .hero-logo {
        width: 40%;
        padding-left: 7%;
    }
    
    .hero-heading-inner {
        font-weight: 400;
    }
    
    .hero-section .form-control {
        border-radius: 50px;
        padding: 10px 20px;
    }
    
    .hero-content {
        font-size: 28px;
        color: rgb(82, 219, 209);
        font-weight: 500;
        padding-left: 7%;
        padding-bottom: 40%;
    }
    #search{
        width: auto;
    }
    .explore-heading{
        font-size: 40px;
        justify-content: center;
        text-align: left;
    }
    .explore-main {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .explore-carousel-item img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .explore-carousel-item:nth-child(1) {
        transform: translateX(-50px) scale(0.6);
    }
    
    .explore-carousel-item:nth-child(2) {
        transform: translateX(0) scale(1);
        z-index: 1;
    }
    
    .explore-carousel-item:nth-child(3) {
        transform: translateX(50px) scale(0.6);
    }
    
    .explore-carousel-item:nth-child(4) {
        display: none;
    }
    .know-more-main{
        padding-bottom: 5%;
        display: flex;
        justify-content: center;
    }
    .know-more-container{
        margin-right: 0px;
        background-color: #01b5b1;
        width: 80%;
        padding: 20px;
        border-radius: 5%;
        font-weight: 400;
        font-size: 18px;
    }
    .know-more-heading{
        color: white;
        font-size: 20px;
    }
    
    .why-section {
        background-image: url(assets/why-mobile.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .why-heading{
        font-size: 45px;
        font-weight: bold;
        padding-top: 45%;
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 2%;
        
    }
    .why-content{
        padding-left: 5%;
        width: 100%;
        font-size: 22px;
    }
    #frequent-desktop{
        display: none;
    }
    #frequent-mobile{
        display: inline;
    }
    /* .frequent-heading{
        font-size: 45px;
        font-weight: bold;
        padding-left: 5%;
        text-align: left;
        background-color: black;
        color: white;    
    } */
    #carousel-indi{
        margin-bottom: 0px;
    }
    .frequent-carousel .carousel-inner {
        height: auto;
        background-color: #000;
    }
    .monsoon-offer{
        background: url(assets/offer-2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 80vh;
    }
    .monsoon-container{
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .offer {
        margin-top: 60%;
        text-align: center;
        padding: 30px;
        border-radius: 8px;
    }
    .offer-content {
        display: none;
        background-color: #01b5b1;
        color: black;
        border-radius: 8px;
        padding-bottom: 10%;
    }
    .offer-heading{
        margin-left: -10px;
        font-size: 36px;
        font-weight: 700;
        text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
        color: black;
        line-height: 1;
        padding-bottom: 5%;
    }
    .offer-free{
        font-size: 80px;
        font-weight: 900;
        line-height: 1;
    }
    .offer-inner-content{
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        padding-inline: 1%;
    }
    .offer-content .btn {
        background-color: #ffffff;
        color:black;
        border: none;
        padding: 5px 20px;
        border-radius: 50px;
    }
    .offer-content .btn:hover {
        background-color: #f1f1f1;
    }
    .end-to-end-section{
        height: 63vh;
    }
    .end-heading{
        padding-left: 5%;
        padding-top: 5%;
    }
    .end-heading img{
        height: 150px;
    }
    .end-content{
        text-align: left;
        padding-left: 10%;
        font-size: 22px;
        font-weight: 700;
    }
    .end-content-inner{
        padding-left: 0;
    }
    .change-section{
        height: 30vh;
    }
    .change-img{
        content: url('assets/change.jpg');
        height: 30vh;
        align-items: center;
    }
    .change-text1{
        color: rgb(82, 219, 209);
        font-size: 28px;
        font-weight: 700;
        text-align: left;
        padding-top: 0%;
        padding-bottom: 7%;
        padding-left: 5%;
    }
    .change-text2{
        font-size: 22px;
        font-weight: 500;
        padding: 2%;
        padding-right: 3%;
        padding-left: 5%;
    }
    .footer-heading{
        text-align: left;
        font-size: 15px;
    }
    .footer-sub-heading{
        text-align: left;
        font-size: 22px;
    }
    .footer .form-inline {
        justify-content: left !important;
    }
    .mobile-break { display: inline; }
  }

  @media only screen and (min-width: 375px) 
  and (max-width: 812px) and (orientation: portrait) { 
    .hero-section{
        height: 100vh;
    }
    .why-section{
        height: 80vh;
    }
    .why-heading{
        padding-top: 20%;
    }
    .change-img{
        height: 30vh;
    }
}
  